@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

.nav-container {
    background-color: aqua;
    width: auto;
    float: left;
    min-height: 100vh;
    padding: 20px;
    border: 2px navy solid;
}

.sidebar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar-list li {
    padding: 20px 10px;
    color: navy;
    font-family: 'Oxygen', sans-serif
}

.sidebar-list li a {
    text-decoration: none;
    padding: 20px;
}

