@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

.nav-container {
    /* background-color: #33e961; */
    background: rgb(51,233,97);
    background: linear-gradient(114.5deg, rgba(51,233,97,1) 20%, rgba(51,189,233,1) 100%);
    width: auto;
    float: left;
    min-height: 100vh;
    padding: 10px;
    border: 1px #4833e9 solid;
}

.sidebar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar-list li {
    padding: 20px 10px;
    color: #4833e9;
    font-family: 'Oxygen', sans-serif
}

.sidebar-navlink {
    color: #4833e9;
}

.sidebar-list li a {
    text-decoration: none;
    padding: 20px;
}

.collapse-sidebar, .uncollapse-sidebar {
    float: right;
    margin: 5px;
    color: #4833e9;
}

.sign-up, .sign-in {
    color: #4833e9;
    text-shadow: 2px 2px aqua;
}