.transaction {
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 1rem;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-areas:
    'name total'
    'message message'
    'details date';

  border: 1px solid var(--black);
  border-radius: var(--rounded);
  box-shadow: var(--basic-shadow);
}

.name {
  grid-area: name;
  color: var(--dark);
}

.total {
  grid-area: total;
  text-align: right;
}

.message {
  grid-area: message;
  margin: 2rem 0;
  font-size: var(--large-heading);
  text-align: center;
}

.details {
  grid-area: details;
  font-size: var(--small);
}

.date {
  grid-area: date;
  font-size: var(--small);
  text-align: right;
}

@media screen and (min-width: 600px) {
  .transaction {
    padding: 2rem;
  }
}
