.container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: fit-content;
  background: var(--dark-2);
  color: var(--white);
}

.container > div[class='ticker'] {
  height: 4rem !important;
}

.stock {
  display: inline-flex;
  padding: 1rem;
}

.stock > * {
  margin-right: 1rem;
}

.upIcon {
  margin-right: 0;
  color: green;
}

.downIcon {
  margin-right: 0;
  color: red;
}
