.container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: fit-content;
  background: var(--dark-2);
  color: var(--white);
}

/* Overwrite styles from Ticker component */
.container > div[class='ticker'] {
  height: 4rem !important;
}

/* Overwrite styles from Ticker component */
.container div[class='ticker__element'] {
  display: flex !important;
  flex-wrap: nowrap !important;
}

.stock {
  display: inline-flex;
  padding: 1rem;
}

.stock > * {
  margin-right: 1rem;
  white-space: nowrap;
}

.upIcon {
  margin-right: 0;
  color: green;
}

.downIcon {
  margin-right: 0;
  color: red;
}
