.wrapper {
    margin-left: 55px;
    width: 100vw;
}

.tickerContainer {  
    color: navy;
    display: flex;
    height: 120px; 
    background-color: var(--main);
    margin-left: -2px;
}

.tickerContainer > div {
    margin: 10px 10px;
    padding: 10px;
    text-align: center;
    background-color: var(--light-accent-2); 
    border-radius: 5px;
    width: 200px;
}   

.stockTitle {
    font-weight: bold;
}

.upIcon {
    color: green;
}

.downIcon {
    color: red;
}

